.item_personal_data .el-date-editor.el-input.el-input--prefix.el-input--suffix.el-date-editor--year::after {
  display: none !important;
}
.item_personal_data .el-input__prefix {
    display: none;
}

.el-year-table td .cell {
    font-size: 18px;
}

.el-picker-panel {
    color: rgb(96, 98, 102);
    border: 3px solid rgb(63, 36, 30);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
    background-image: url("/assets/img/bg.jpg") !important;
    box-shadow: 0px 0px 8px 7px #00000030;
}

.el-input--prefix .el-input__inner {
    padding-left: 0 !important;
}
